<div class="container">
  <div class="row">
    <div class="col-8 mx-auto mt-5">
      <div class="card shadow border">
        <div class="card-body d-flex flex-column align-items-center">
          <div class="search-input">
            <input type="text" [(ngModel)]="searchText" placeholder="Search here..."><button class="btn btn-primary ms-2" appHightlightword [searchtext]="searchText">search</button>
            <p class="card-text pt-3" id="content">The world is a beautiful place for about 7 billion people. All the people are fortunate
              to have access to resources and a place where they can live peacefully. Our world is filled with amazing
              people who can speak different languages, live in different places, and follow different traditions.</p>
            </div>          
        </div>
      </div>
    </div>
  </div>
</div>

